

body{
	background-color: lightgoldenrodyellow;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.card-container{
	background-color: #fff;
	width: min(90vw,20rem);
	height: 20rem;
	border: 3px solid black;

	display: grid;
	grid-template-rows: repeat(4,1fr);
}
.cart-item{
	display: flex;
	align-items: center;
	justify-content: center;
}
.cart-item > a{
	padding: 0.5rem 2rem;
	border: 3px solid black;
	text-decoration: none;
	color: #000;
}
.hijau{
	background-color: lightgreen;
}
.blue{
	background-color: lightskyblue;
}
.red{
	background-color: lightcoral;
}
